{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 bg-white p-4 rounded shadow">
            <h1 class="text-center mb-4">Réinitialisation de mot de passe</h1>

            {{ form_start(requestPassForm, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                <div class="mb-3">
                    {{ form_row(requestPassForm.email, {
                        'attr': {'class': 'form-control mb-3'},
                        'label_attr': {'class': 'form-label'}
                    }) }}
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
                </div>
            {{ form_end(requestPassForm) }}
        </div>
    </div>
</section>
{% endblock %}